#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
#export LANG='en_US.UTF-8';
#export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';


### LESS ###
# Enable syntax-highlighting in less.
# brew install source-highlight
# First, add these two lines to ~/.bashrc
export LESSOPEN="| /usr/bin/src-hilite-lesspipe.sh %s"
export LESS=" -R "

# Environment specific stuff
export AWS_DEFAULT_PROFILE=sydsvenskan

# Set up golang
export GOPATH=$HOME/go
export GOROOT=/usr/lib/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

# Set up HOME paths for EMR Tools
export HADOOP_HOME=~/opt/hadoop-2.7.2
export HIVE_HOME=~/opt/apache-hive-1.2.1-bin
export SPARK_HOME=~/opt/spark-1.6.2-bin-hadoop2.6

# Add EMR tools to path
export PATH=$SPARK_HOME/bin:$HADOOP_HOME/bin:$HIVE_HOME/bin:$PATH
export PYTHONPATH=$SPARK_HOME/python/pyspark:$SPARK_HOME/python/lib/py4j-0.9-src.zip

# Add Mutt to execution path
export PATH=$PATH:~/.mutt/

# Make sure that when we run pyspark, we start a jupyter notebook to explore data
export PYSPARK_DRIVER_PYTHON=jupyter
export PYSPARK_DRIVER_PYTHON_OPTS="notebook --NotebookApp.open_browser=False --NotebookApp.ip='*' --NotebookApp.port=8880"

# Setup of the EMR analysis project and tools
export EMR_PROJECT_DIR=~/projects/sydsvenskan/repos/burt-completes-emr

source $EMR_PROJECT_DIR/.alias
export PATH=$EMR_PROJECT_DIR/bin:$PATH
