xterm*faceName: Ubuntu Mono Regular:antialias=true
xterm*font: 7x13
xterm*faceSize: 10
xterm*selectToClipboard: true
XTerm*foreground: rgb:b2/b2/b2
XTerm*background: rgb:08/08/08
Xterm*saveLines: 30000

URxvt.font: xft:monaco:size=8
URxvt.scrollBar_right: False
URxvt.scrollTtyOutput: False
URxvt.scrollTtyKeypress: True
URxvt.letterSpace: -1
URxvt.saveLines: 65535
URxvt.scrollBar: False
URxvt*foreground: rgb:b2/b2/b2
URxvt*background: rgb:08/08/08
URxvt.color12: rgb:5c/5c/ff
URxvt.perl-ext-common:      default,matcher,clipboard,keyboard-select,resize-font
! url-select disabled
!URxvt.url-select.launcher:  firefox
!URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
